@model Vidly.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "Lijst";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lijst van Customers</h2>

<ul>
    @foreach (var customer in Model.Customers)
    {
        // <li>@customer.Name</li>

        // er moet nog aan gewerkt worden want nu niet correct
        <li>@Html.ActionLink("View Customerss", "Details", "Customer", new { id = customer.ID });</li>
    }
</ul>

